* {
    border: none;
    font-family: BlexMono Nerd Font;
    font-weight: 800;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: none;
    margin: 0px;
    padding: 0px;
}

tooltip {
    background: rgba(0, 43, 54, 0.9);
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: #586e75;
    color: #839496;
}

#workspaces button {
    border: none;
    transition-duration: 0.3s;
    background: none;
    box-shadow: inherit;
    text-shadow: inherit;
    margin-top: -5px;
    margin-bottom: -4px;
}

#workspaces button.active {
    color: #cb4b16;
}

#workspaces button.persistent {
    color: #d33682;
}

#workspaces button.empty {
    color: #586e75;
}

#workspaces button:hover {
    color: #268bd2;
}

#workspaces button.special {
    color: #b58900;
}

#workspaces button.visible {
    color: #859900;
}

#workspaces button.urgent {
    color: #dc322f;
}

#language,
#custom-updates,
#custom-weather,
#window,
#custom-playerctl,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#cava,
#keyboard-state,
#idle_inhibitor,
#custom-power {
    background: none;
    padding: 0px 10px;
    margin: 0px;
    margin-top: 5px;
}

#tray {
    background: rgba(0, 43, 54, 0.9);
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
    border-color: #586e75;
    margin-right: 4px;
    margin-left: 4px;
    color: #839496;
    padding-left: 8px;
    padding-right: 6px;
}

#workspaces {
    background: rgba(0, 43, 54, 0.9);
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
    border-color: #586e75;
    margin-left: 4px;
    padding-right: 4px;
    padding-left: 0px;
}

#language {
    background: rgba(0, 43, 54, 0.9);
    color: #268bd2;
    border-width: 2px;
    border-style: solid;
    border-color: #586e75;
    border-right: 0px;
    border-radius: 7px 0px 0px 7px;
    min-width: 24px;
}

#keyboard-state {
    background: none;
    color: #b58900;
    border: none;
}

#custom-updates {
    background: rgba(0, 43, 54, 0.9);
    color: #268bd2;
    border-width: 2px;
    border-style: solid;
    border-color: #586e75;
    border-radius: 0px 7px 7px 0px;
    border-left: 0px;
}

#window {
    background: rgba(0, 43, 54, 0.9);
    border-width: 2px;
    border-style: solid;
    border-color: #586e75;
    border-radius: 7px;
    margin-left: 30px;
    margin-right: 30px;
}

#custom-playerctl {
    background: rgba(0, 43, 54, 0.9);
    border-width: 2px;
    border-style: solid;
    border-color: #586e75;
    border-right: 0px;
    border-left: 0px;
    color: #b58900;
}

#cava {
    background: rgba(0, 43, 54, 0.9);
    border-radius: 7px 0px 0px 7px;
    border-width: 2px;
    border-style: solid;
    color: #cb4b16;
    border-color: #586e75;
    border-right: 0px;
    margin-left: 4px;
}

#clock {
    background: rgba(0, 43, 54, 0.9);
    color: #859900;
    border-width: 2px;
    border-style: solid;
    border-color: #586e75;
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
}

#network {
    color: #839496;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    background: rgba(0, 43, 54, 0.9);
    color: #cb4b16;
    border-width: 2px;
    border-style: solid;
    border-color: #586e75;
    border-right: 0px;
    border-left: 0px;
    border-radius: 0px;
}

#pulseaudio.microphone {
    background: rgba(0, 43, 54, 0.9);
    color: #cb4b16;
    border-width: 2px;
    border-style: solid;
    border-color: #586e75;
    border-radius: 0px 7px 7px 0px;
    border-left: 0px;
    margin-right: 4px;
}

#battery {
    background: rgba(0, 43, 54, 0.9);
    color: #839496;
    border-width: 2px;
    border-style: solid;
    border-color: #586e75;
    border-radius: 7px;
    border-right: 0px;
    border-left: 0px;
}

#custom-weather {
    background: rgba(0, 43, 54, 0.9);
    color: #b58900;
    border-radius: 7px 0px 0px 7px;
    border-width: 2px;
    border-right: 0px;
    border-style: solid;
    border-color: #586e75;
    margin-left: 4px;
}

#idle_inhibitor {
    background: rgba(0, 43, 54, 0.9);
    color: #839496;
    border-width: 2px;
    border-style: solid;
    border-color: #586e75;
    border-left: 0px;
    border-radius: 7px;
    min-width: 18px;
}

#custom-power {
    background: rgba(0, 43, 54, 0.9);
    color: #dc322f;
    border-width: 2px;
    border-style: solid;
    border-color: #586e75;
    border-radius: 0px 7px 7px 0px;
    border-left: 0px;
    margin-left: 0px;
    margin-right: 4px;
    padding-right: 12px;
}
